
.button1 {
    -fx-background-color: #34665A;
    -fx-background-radius: 20 20 20 20;
}

.button1:hover {
    -fx-background-color: #417E70;
}

.button1:pressed {
    -fx-background-color: #C89C32;
}

.button2 {
    -fx-background-color: #CFCFCF;
    -fx-background-radius: 40 40 40 40;
}

.button2:hover {
    -fx-background-color: #9C9C9C;
}

.button2:pressed {
    -fx-background-color: #7797B3;
}

.button3:pressed {
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.open-screen{
    -fx-background-color: #295147;
    -fx-background-radius: 10 0 0 10;
}

.other-screen{
    -fx-background-color: rgba(0,0,0,0);
}

.other-screen:hover{
    -fx-background-color: #417E70;
    -fx-background-radius: 10 0 0 10;
}

.open-screen-bar{
    -fx-background-color: #c89c32;
    -fx-background-radius: 50 50 50 50;
}

.text-field {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #000000;
	-fx-border-width: 0.8;
	-fx-border-radius: 20;
}

.pet-box{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, grey, 31, 0,11, 10);
}

.pet-box:hover{
    -fx-background-color: #DADADA;
}

.radio-button1 {
	-fx-border-color: #34665A;
	-fx-border-radius: 20;
	-fx-border-width: 3;
	-fx-text-fill: #34665A;
}

.radio-button1:selected {
	-fx-background-color: #34665A;
	-fx-background-radius: 20;
	-fx-border-color: #34665A;
	-fx-border-radius: 20;
	-fx-border-width: 0.3;
	-fx-text-fill: #ffffff;
}

.radio-button1:selected .dot{
	-fx-background-color: #34665A;
}

.photo-loaded {
    -fx-background-color: green;
    -fx-background-radius: 100;
}